build:
  image: docker:20.10.16
  stage: build
  services:
    - docker:20.10.16-dind
  script:
    - VERSION=$(cat VERSION)
    - IMAGE_TAG="$CI_REGISTRY_IMAGE:$VERSION"
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  only:
    refs:
      - main
    changes:
      - VERSION
